{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel"
  ],
  "env"     : {
    "browser" : true,
    "es6": true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "__DEV_ORG__"  : false,
    "__CONFIG__"   : false
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "indent": [0, 4],
    "space-before-function-paren": 0,
    "react/jsx-indent": [0],
    "react/jsx-indent-props": [0]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  }
}
